<nhs-back-link [params]="backlink" (clicked)="goBack()"></nhs-back-link>
<h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">Share your passport</span>
    Select the information you want to share with the NHS organisation
</h1>
<div class="nhsuk-hint" id="example-hint">
    We are only showing active employment and training information.
</div>
<fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
    <div class="nhsuk-form-group">

        <div class="nhsuk-checkboxes">

            <div *ngFor="let credential of credentialTypesWithSelection" class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="{{credential.credentialType}}" name="credentialType"
                    [disabled]="!credential.enabled" type="checkbox" value="{{credential.credentialType}}"
                    (change)="onCheckboxSelect(credential, $event)" [checked]="credential.isSelected">
                <label class="nhsuk-label nhsuk-checkboxes__label">
                    {{credential.friendlyName}}
                </label>
            </div>

        </div>

        <div class="nhsuk-date-input__item" style="width: 100%">
            <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="message">
                    Send a message with your information? (optional)
                </label>
                <textarea class="nhsuk-textarea" style="width:100%" [(ngModel)]="message" id="message" name="emessage"
                    rows="5"></textarea>
            </div>
        </div>
    </div>
</fieldset>
<button class="nhsuk-button nhsuk-u-margin-top-4" (click)="done()" draggable="false" [disabled]="!selected">
    Continue
</button>