/* You can add global styles to this file, and also import other style files */
@import '~nhsuk-frontend/packages/nhsuk';

.h1 {
    @extend h1;
}
.h2 {
   @extend h2;
}
.h3 {
   @extend h3;
}
.h4 {
   @extend h4;
}
.h5 {
   @extend h5;
}
.h6 {
   @extend h6;
}

.nhsuk-table__cell--clickable * {
   &:hover,
   &:active {
     cursor: pointer;
       color: $nhsuk-link-hover-color;
       text-decoration: none;
 
       &:focus {
         color: $nhsuk-focus-text-color;
       }
     }
 
   &:hover {
     border-color: $nhsuk-link-hover-color;
   }
 
   &:active {
     border-color: $nhsuk-link-hover-color;
   }
 }

nhs-card {
   width: 100%;
}

.nhs-account-card {
   .nhs-account-card-description {
       @include mq($until: desktop) {
           display:none;
           margin-bottom: 0;
       }
   }
}

.nhsuk-card-group__item {
   @include flex-item();
 
   list-style-type: none;
   margin-bottom: 0;
 
   .nhsuk-card {
     margin-bottom: nhsuk-spacing(5);
   }
 
   @include mq($until: desktop) {
 
     .nhsuk-card {
       margin-bottom: nhsuk-spacing(3);
     }
 
     &:last-child .nhsuk-card {
       margin-bottom: 0;
     }
   }
 }
 

.app-global-alert {
   background-color: #ffeb3b;
   padding-bottom: 24px;
   padding-top: 24px
}

@media print {
   .app-global-alert {
       display: none
   }
}

.app-global-alert a {
   color: #005eb8
}

.app-global-alert a:focus {
   background-color: #003d78;
   box-shadow: 0 0 0 4px #003d78;
   color: #fff;
   outline: 4px solid transparent;
   outline-offset: 4px
}

.app-global-alert a:hover {
   background-color: #005eb8;
   box-shadow: 0 0 0 4px #005eb8;
   color: #fff
}

.app-global-alert a:active {
   background-color: #002f5c;
   box-shadow: 0 0 0 4px #003d78;
   color: #fff
}

.app-global-alert__content {
   position: relative
}

.app-global-alert__content>:first-child {
   margin-top: 0
}

.app-global-alert__content>:last-child {
   margin-bottom: 0
}

.app-global-alert__message h2,.app-global-alert__message h3 {
   font-size: 24px;
   line-height: 1.33333;
   margin: 0
}

.app-global-alert__message p {
   margin-top: 8px;
   display: block;
   font-size: 16px;
   line-height: 1.5;
   margin-bottom: 0
}

@media (min-width: 40.0625em) {
   .app-global-alert__message p {
       margin-top:8px
   }
}

@media (min-width: 40.0625em) {
   .app-global-alert__message p {
       font-size:19px
   }
}

.app-width-container--full {
   margin: 0;
   max-width: none
}
