<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <front-end-profile></front-end-profile>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <front-end-organisation-connections></front-end-organisation-connections>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <front-end-share-passport> </front-end-share-passport>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <self-service-add-self-attested-data> </self-service-add-self-attested-data>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <self-service-accept-credential> </self-service-accept-credential>
    </div>
</div>

<front-end-issue-verify></front-end-issue-verify>

<!-- <front-end-organisations></front-end-organisations> -->

<!-- <front-end-organisation-connections></front-end-organisation-connections> -->
<!-- <front-end-profile-completion></front-end-profile-completion>
<front-end-select-wallet></front-end-select-wallet>
<front-end-passport-activity></front-end-passport-activity> -->