<nhs-back-link [params]="backlink" (clicked)="goBack()"></nhs-back-link>
<h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l">{{heading}}</span>
    Choose a photo from your device or take one with your camera.
</h1>
<div *ngIf="isCameraExist; else noCameraExist">
    <button *ngIf="showWebcam" class="nhsuk-button" (click)="takeSnapshot()"
        style="display: inline-block;">Capture</button>
    <div style="text-align:center">
        <webcam [width]="innerWidth" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
            [switchCamera]="nextWebcamObservable"></webcam>
    </div>

    <div *ngIf="errors.length > 0">
        <h4>Error Messages:</h4>
        <ul *ngFor="let error of errors">
            <li>{{ error | json }}</li>
        </ul>
    </div>
</div>
<ng-template #noCameraExist>
    Camera device not available
</ng-template>